<html>
  <head>
    <title>Add Comments</title>
    <link rel="stylesheet" href="/style.css">
    <head>
  <body>
    <h1>You can add you comments below.</h1>
    <div>
      <form method="post" action="/comments">
        <label for="Comment">Comment</label>
        <input type="text" id="comment" name=comment[comment] placeholder="Comment...">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name=comment[name] placeholder="First Name">
        <input type="submit" name="add" value="Add">
      </form>
    </div>
    <div><a href="/comments">Go Back</a></div>
    </form>
  </body>
</html>
